<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyoyang.sso.dao.UserMapper">
  <select id="getByUserName" resultType="com.lyoyang.entity.User" parameterType="java.lang.String">
      SELECT * FROM user WHERE username = #{username}
  </select>
  <select id="getByPhone" parameterType="java.lang.String" resultType="com.lyoyang.entity.User">
      SELECT * FROM user WHERE phone = #{phone}
  </select>
  <select id="getByEmail" parameterType="java.lang.String" resultType="com.lyoyang.entity.User">
      SELECT * FROM user WHERE email = #{email}
  </select>

  <insert id="insert" parameterType="com.lyoyang.entity.User" useGeneratedKeys="true" keyColumn="id">
      INSERT INTO user(username,password,phone,email,create_time,update_time) VALUES (#{username},#{password},#{phone},#{email},sysdate(),sysdate())
  </insert>

</mapper>